h2{
    text-align: center;
    background-color:teal;
}
.card{
    width: 40%;
    margin: auto;
    font-weight: bold;
}
button{
    width: 20%;
    border-color: black;
}
h3{
    width: 100%;
    text-align: center;
    margin-left: 40%;
    border-color: black;
}