h2{
    text-align: center;
    background-color:teal;
}
.card{
    width: 50%;
    margin: auto;
    font-weight: bold;
}
button{
    width: 20%;
    
}
h3{
    width: 100%;
    text-align: center;
    margin-left: 40%;
}