<div class="card">
    <form [formGroup]="sendFile">
        <div class="header">Send Files</div>
        <div class="card-body">

            <div class="mb-3">
                <label class="form-label">Username:</label>
                <select class="form-select" aria-label="Default select example" formControlName="username">
                    <option *ngFor="let u of viewusers" value="{{u.username}}">{{u.username}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Subject:</label>
                <input type="text" class="form-control" placeholder=".." formControlName="subject">
            </div>

            <div class="mb-3">
                <label class="form-label">file:</label>
                <input type="file" class="form-control" placeholder="Username" formControlName="file">
            </div>

            <div>
                <button class="btn btn-secondary" (click)="submit()" [disabled]="sendFile.invalid">Send</button>
            </div>
        </div>
    </form>
</div>