<div class="card p-2">
    <div class="card-header">
        <h2>User-Registration</h2>
    </div>
    <form class="userform-Group" [formGroup]="userForm" (ngSubmit)="signup()">
        <div class="mb-3">
            <label class="form-label">Full name:</label>
            <input type="text" class="form-control" placeholder="Fullname" formControlName="firstname">
        </div>
        <div class="mb-3">
            <label class="form-label">Last name:</label>
            <input type="text" class="form-control" placeholder="Lastname" formControlName="lastname">
        </div>
        <div class="mb-3">
            <label class="form-label">User name:</label>
            <input type="text" class="form-control" placeholder="Username" formControlName="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password:</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <div class="mb-3">
            <label class="form-label">Mobile:</label> 
            <input type="text" class="form-control" placeholder="Mobile" formControlName="mobileno">
        </div>
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="text" class="form-control" placeholder="Email" formControlName="emailid">
        </div>
        <div class="mb-3">
            <label class="form-label">Choose file:</label>
            <input type="file" class="form-control" placeholder="Choose" formControlName="file">
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" class=" btn btn-info">Register</button>
        </div>
    </form>
</div>