<table class="table">
    <thead>
        <tr>
            <th>S.NO.</th>
            <th>User Name</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Key</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let v of viewfiles ;let i=index">
            <td>{{i+1}}</td>
            <td>{{v.username}}</td>
            <td>{{v.subject}}</td>
            <td>{{v.date}}</td>
            <td>{{v.key}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(v._id)">Delete</button>
            </td>

        </tr>
    </tbody>
</table>