.card{
    margin: auto;
    width: 60%;
    font-size: medium;
    font-style:inherit;
    font-weight: bold;
    background-color:128, 81, 81;
}
h3{
    background-color:rgb(205, 210, 212);  
    text-align: center;
}
h2{
    text-align: center;
}
input{
    font-weight: bold;
}