<div class="card">
    <h2 class="card-header"> Distributor Login</h2>
    <form action="formUser-Group" [formGroup]="LoginForm" (ngSubmit)="login()">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username"
            formControlName="uname">
    </div>
    <div class="mb-3">
        <label class="form-label">Password:</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="password"
            formControlName="pswd">
    </div>
    <div class="d-grid gap-4 justify-content-md-center">
        <button class="btn btn-primary" type="button" routerLink="/admin-dashbord">Login</button>
    </div>
</form>
</div>