<div class="card">
    <div class="card-header bg-light">
        <h2 class="title"> Data-Recovery</h2>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/distributor-login">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user-login">User</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
 <p>In computing, data recovery is a process of retrieving deleted, inaccessible, lost, corrupted, damaged, or formatted
    data from secondary storage, removable media or files, when the data stored in them cannot be accessed in a usual
    way.</p>
<p> 1. The data is most often salvaged from storage media such as internal or external hard disk drives (HDDs),
    solid-state drives (SSDs), USB flash drives, magnetic tapes, CDs, DVDs, RAID subsystems, and other electronic
    devices. Recovery may be required due to physical damage to the storage devices or logical
    damage to the file system that prevents it from being mounted by the host operating system (OS)
<p>2.

Logical failures occur when the hard drive devices are functional but the user or automated-OS cannot retrieve or
access date stored in it. It can occur due to corrupt engineering chip, lost partitions</p>