h2{
    text-align: center;
    background-color: rgb(39, 173, 183);
}
.nav{
    font-weight: bold;
    background-color: rgb(180, 168, 8);
}
p{
    background-color: bisque;
    background:rgb(193, 195, 201);
}